{% extends "closedverse_main/layout.html" %}
{% load closedverse_tags %}{% load closedverse_community %}{% block main-body %}
<div class="community-main">
		<div id="community-eyecatch"></div>
	</div>
	<div class="community-top-sidebar">
		<form action="{% url "main:community-search" %}" class="search">
			<input maxlength="32" name="query" placeholder="Search all communities" type="text"><input title="Search" type="submit" value="q">
		</form>
		<div class="post-list-outline index-memo">
			<h2 class="label">Closedverse</h2>
			<h2>Who?</h2>
                        this time by term greabaegrjlesnjtsrtlj
                        <h2>OMFG stop it with the clones</h2>
                        no
                        <h2>can i hack this please</h2>
                        please do not
                        <h2>what about closedverse-le</h2>
                        its REALLLLY buggy but if you want to see it on the off chance it hasnt shit itself yet <a href="https://testyy.termy.lol">here</a>
                        <h2>thank you for this</h2>
                        you're not welcome this shouldnt exist in the first place
                        <h2>Shouldn't you be working on rverse?</h2>
                        dont have access to the computer that i use to work on it lol sorry

		</div>
	</div>
	<div class="community-main">
	{% if favorites %}
		<h3 class="community-title symbol community-favorite-title">Favorite communities</h3>
		<div class="card" id="community-favorite">
		  <ul>
			{% for favorite in favorites %}
				<li class="test-favorite-community">
				  <a href="{% url "main:community-view" favorite.id %}" class="icon-container">
					<img src="{{ favorite.icon }}" class="icon">
					
				  </a>
				</li>
			 {% endfor %}
				
			<li class="read-more">
			  <a href="{% url "main:community-favorites" %}" class="favorite-community-link symbol"><span class="symbol-label">Show more</span></a>
			</li>
		  </ul>
		</div>
	{% endif %}
		{% if feature %}
			{% community_page_element feature "Featured Communities" True %}
		{% endif %}
			{% community_page_element general "General Communities" %}
			{% community_page_element game "Game Communities" %}
			{% community_page_element special "Special Communities" %}
			<a href="{% url "main:community-viewall" %}" class="big-button">Show more</a>
	</div>
	<div id="community-guide-footer">
		<div id="guide-menu">
			<a class="arrow-button" href="{% url "main:help-why" %}"><span>Why join?</span></a>
			<a class="arrow-button" href="{% url "main:help-rules" %}"><span>Closedverse Rules</span></a>
			<a class="arrow-button" href="{% url "main:help-faq" %}"><span>Frequently Asked Questions (FAQ)</span></a>
			{% if settings.CLOSEDVERSE_PROD %}
			<a class="arrow-button" href="{% url "main:help-contact" %}"><span>Contact information</span></a>
			{% endif %}
			<a class="arrow-button" href="https://pf2m.com/openverse/"><span>Info about Openverse</span></a>
		</div>
	</div>
{% endblock %}
