{% extends "closedverse_main/layout.html" %}
{% load closedverse_tags %}{% load closedverse_community %}{% block main-body %}
<div class="community-main">
	</div>
	<div class="community-top-sidebar">
		<div class="post-list-outline index-memo">
			<h2 class="label">Closedverse</h2>
			<h2>Who?</h2>
			this time by term greabaegrjlesnjtsrtlj
			<h2>OMFG stop it with the clones</h2>
			no
			<h2>can i hack this please</h2>
			please do not
			<h2>what about closedverse-le</h2>
			its REALLLLY buggy but if you want to see it on the off chance it hasnt shit itself yet <a href="https://testyy.termy.lol/">here</a>
			<h2>thank you for this</h2>
			you're not welcome this shouldnt exist in the first place
			<h2>Shouldn't you be working on rverse?</h2>
			dont have access to the computer that i use to work on it lol sorry
		</div>
	</div>
	<div class="community-main">
		<br>
			<div class="community-switcher">
				<a class="community-switcher-tab gen selected" href="#">General</a>
				<a class="community-switcher-tab game" href="#">Game</a>
				<a class="community-switcher-tab special" href="#">Special</a>
			</div>
			<div class="communities gen">
				{% community_page_element general "General Communities" %}
			</div>
			<div class="communities game none">
				{% community_page_element game "Game Communities" %}
			</div>
			<div class="communities special none">
				{% community_page_element special "Special Communities" %}
			</div>
			{% if has_next %}
				<a href="{% url "main:community-viewall" %}?offset={{ next }}" class="big-button">Next</a>
			{% endif %}
			{% if has_back %}
				<a href="{% url "main:community-viewall" %}?offset={{ next }}" class="big-button">Next</a>
			{% endif %}
	</div>
{% endblock %}
