{% extends "closedverse_main/layout.html" %}
{% block main-body %}
<div class="main-column center">
    <div class="post-list-outline login-page">
        <form method="post">
			<img src="{{ brand_logo }}">
			<p class="lh">Log In</p>
			<p>Sign in with a {{ brand_name }} account to create and give Yeahs to posts and comments, edit your profile, and connect with other {{ brand_name }} users.</p>
			<h3 class="label"><label>User ID: <input type="text" class="auth-input" name="username" maxlength="32" placeholder="User ID"></label></h3>
			<h3 class="label"><label>Password: <input type="password" class="auth-input" name="password" maxlength="32" placeholder="Password"></label></h3>
			{% csrf_token %}

			<p class="red" style="margin-bottom:6px"></p>

			<button type="submit" class="button">Sign In</button>

			<div class="ll">
				{% if allow_signups %}
				<p>If you don't have an account, <a href="{% url "main:signup" %}"><b>sign up</b> here.</a></p>
				{% else %}
			    <p>Signing up is disabled for now, check back later.</p>
				{% endif %}
				{% if reset_supported %}
				<p>If you forgot your password, <a href="{% url "main:forgot-passwd" %}"><b>reset</b> it here.</a></p>
				{% endif %}
				<br><p>If you need help with logging in, see the <a href="{% url "main:help-login" %}"><b>login help</b></a> page.</p>
			</div>
		</form>
	</div>
</div>
{% endblock %}
